@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-primary:#003459;
    
    --color-text-dark:#00171F;

    --color-text-light:#667479;
}
*{
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
/* container */
.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:1199.98px){
    .container{
        width: 960px;
    }

}
@media(max-width:991.98px){
    .container{
        width: 720px;
    }

}
@media(max-width:767.98px){
    .container{
        width: 540px;
    }

}
@media(max-width:575.98px){
    .container{
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

}
/* container */
/* button */
.button{
    background-color: var(--color-primary);
    padding: 10px 28px;
    border-radius: 57px;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 11px; 
    border: 1.5px solid var(--color-primary);
}
.button i{
    font-size: 18px;

}
.button-outline{
    background-color: transparent;
    color: var(--color-primary);
   
}
/* button */

/* header */
.header{
    padding: 30px 0;
    position: relative;
    z-index: 99999;
}
.header .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
        
}
.header .inner-logo img{
    width: auto;
    height: 40px;
}
.header .inner-menu {
    flex: 1;
    display: flex;
    justify-content: center;
}
.header .inner-menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0 48px;
}
.header .inner-menu ul li a{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-primary);
    text-transform: capitalize;
}
.header .inner-search{
    background-color: #F3F3F3;
    border-radius: 46px;
    padding: 12px 16px;
    width: 280px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.header .inner-search i{
    font-size: 16px;
    color: var(--color-text-light);
}
.header .inner-search input{
    flex: 1;
    background: transparent;
    border: 0;
    outline: none;
    color: var(--color-text-dark);
}
.header .inner-search input::placeholder{
    color: #99A2A5;
}
.header .inner-button-menu,
.header .inner-button-search {
  display: none;
}

@media(max-width:1199.98px){
    .header .button{
        display: none;
    }

}
@media(max-width:991.98px){
    .header .inner-button-menu , .header .inner-button-search{
        display: inline-block;
        border: 0;
        font-size: 18px;
        color: var(--color-text-dark);
        background: transparent;
        cursor: pointer;
    }
    .header .inner-menu{
        display: none;
    }
    .header .inner-search{
        display: none;
    }
}
@media(max-width:575.98px){
    .header{
        padding: 12px 0;
    }
    .header .inner-logo{
        height: 32px;
    }
}
/* end header */
/* section-1 */
.section-1{
     background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
     border-radius: 0 0 40px 40px ;
     margin-top: -104.5px;
     padding-top: 104.5px;
     /* margin-bottom: 100px; */
     overflow: hidden;
}
.section-1 .inner-wrap{
    display: flex;
    position: relative;
}
.section-1 .inner-content{
    flex: 1;
    margin-top: 80px;
    margin-right: 76px;
    position: relative;
    z-index: 1;
}
.section-1 .inner-content .inner-title{
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 60px;
    color: var(--color-primary);
}
.section-1 .inner-content .inner-sub-title{
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 46px;
    color: var(--color-primary);
}
.section-1 .inner-content .inner-desc{
    margin-top: 0;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 16px;
    color:  #242B33;
}
.section-1 .inner-content .inner-buttons{
    display: flex;
    flex-wrap: wrap;
    gap : 18px;
}

.section-1 .inner-image{
    width: 50%;
    padding-right: 74px;
    position: relative;
}
.section-1 .inner-image .inner-image-main{
    width: 100%;
    position: relative;
}
.section-1 .inner-image .inner-bg-3{
    width: calc(100% + 200px);
    position: absolute;
    bottom:0;
    left: -80px;
}
.section-1 .inner-bg-1{
    position: absolute;
    top: 70px;
    left: -10px;
}
.section-1 .inner-bg-2{
    position: absolute;
    bottom: 0;
    left: -8%;
}

.section-1 .inner-bg-4{
    position: absolute;
    top :-104.5px;
    left: -132px;
    

}
@media(max-width:1199.98px){
    .section-1 .inner-content .inner-title{
        font-size: 54px;
    }
    .section-1 .inner-content .inner-sub-title{
        font-size: 36px;
    }
    .section-1 .inner-bg-2 {
        left: 2%;
        height: 60px;
    }
}
@media(max-width:991.98px){
    .section-1 .inner-wrap{
        flex-wrap: wrap;
    }
    .section-1 .inner-content{
        flex: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        margin-top: 50px;
    }
    .section-1 .inner-image{
        width: 100%;
        padding-right: 0;

    }
    .section-1 .inner-bg-4 {
        left: 27%;
        height: 100px;
    }
}
@media(max-width:767.98px){
    .section-1 .inner-bg-4 {
        left: 20%;
       
    }
}
@media(max-width:575.98px){
    .section-1{
        border-radius: 0 0 20px 20px ;
    }
    .section-1 .inner-content{
        margin-top: 35px; 
    }
    .section-1 .inner-content .inner-title{
        font-size: 46px;
        margin-bottom: 0;

    }
    .section-1 .inner-content .inner-sub-title{
        font-size: 28px;
        margin-bottom: 12px;
    }
    .section-1 .inner-content .inner-desc{
        font-size: 12px;
        margin-bottom: 32px;
    }
    .section-1 .inner-content .inner-buttons {
        gap: 13px;
    }
    .section-1 .inner-image .inner-image-main{
        width: 80%;
        margin: 0 auto;
    }
    .section-1 .inner-image .inner-bg-3{
        left: 18px;
    }
    .section-1 .inner-bg-1 {
       display: none;
    }
    .section-1 .inner-bg-2 {
        display: none;
    }
    .section-1 .inner-bg-4 {
      top: -86px;
      left: 16%;
       
    }
}
/*end section-1 */
/* box-head */
.box-head{
    display: flex;
    margin-bottom: 28px;
    justify-content: space-between;
    align-items: flex-end;
}
.box-head .inner-sub-title{
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text-dark);
}
.box-head .inner-title{
    font-weight: 700;
    font-size: 24px;
    color: var(--color-primary);
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
}
.box-head .inner-right a{
    font-weight: 500;
    font-size: 14px;
    color: var(--color-primary);
}
@media (max-width: 767.98px){
    .box-head .inner-right{
        display: none;
    }
}
@media (max-width: 575.98px){
    .box-head{
        margin-bottom: 20px;
    }
    .box-head .inner-right{
        display: none;
    }
    .box-head .inner-sub-title{
        font-size: 14px;
    }
    .box-head .inner-title{
        font-size: 20px;
    }
}
/*end box-head */

/* section-2 */
.section-2{
    padding: 60px 0;
    

}
.section-2 .inner-wrap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.section-2 .inner-button-bottom{
    display: none;
}

@media (max-width: 991.98px){
    .section-2 .inner-wrap{
        grid-template-columns: repeat(3,1fr);
    }

}
@media (max-width: 767.98px){
    .section-2 .inner-wrap{
        grid-template-columns: repeat(2,1fr);
    }
    .section-2 .inner-button-bottom{
        display: block;
        margin-top: 16px; 
        text-align: center;  
    }
}
@media (max-width: 575.98px){
    .section-2 {
        padding: 40px 0;

    }
    .section-2 .inner-wrap{
        gap: 12px 12px;
    }
    .section-2 .inner-button-bottom .button{
        display: block;
    } 
}
/*end section-2 */

/* product-item */
.product-item{
    background-color: #FDFDFD;
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    padding: 8px;
    
}
.product-item .inner-image{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
}   
.product-item .inner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-item .inner-content{
    padding: 16px 8px 12px;
}
.product-item .inner-content .inner-title{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  
}
.product-item .inner-content .inner-title a{
    color: var(--color-text-dark);
}
.product-item .inner-desc{
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    gap: 5px 10px;
}
.product-item .inner-desc .inner-desc-item{
    font-weight: 500;
    font-size: 12px;
    color: var(--color-text-light);
}
.product-item .inner-content .inner-desc-item b {
    font-weight: 700;
  }
.product-item .inner-content .inner-desc .inner-dot{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--color-text-dark);
}
.product-item .inner-content .inner-price {
    font-weight: 700;
    font-size: 14px;
    color: var(--color-text-dark);
}
@media(max-width:575.98px){
    .product-item .inner-content .inner-title{
        font-size: 14px;
    }
    .product-item .inner-desc{
        flex-direction: column;
        align-items: flex-start;
    }
    .product-item .inner-content .inner-desc .inner-dot{
        display: none;
    }
}

/*end product-item */

/* .section-3 */
.section-3 {
    padding-bottom: 60px;
  }
.section-3 .inner-wrap{
    background-image: url("../images/Section-3-bg-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 36px 72px 0 20px;
}
.section-3 .inner-image{
    width: 42%;

}
.section-3 .inner-image img{
    width: 100%;
    height: auto;

}
.section-3 .inner-content{
    width: 42%;
    text-align: right;
    margin-top: 22px;
}
.section-3 .inner-content .inner-title{
    font-weight: 700;
    font-size: 52px;
    color: var(--color-primary);
    margin-top: 0;
    margin-bottom: 8px;
}
.section-3 .inner-content .inner-sub-title{
    font-weight: 700;
    font-size: 36px;
    color: var(--color-primary);
    margin-top: 0;
    margin-bottom: 8px;
}
.section-3 .inner-content .inner-desc{
    font-weight: 500;
    font-size: 12px;
    color: var(--color-text-dark);
    margin-bottom: 8px;

}
.section-3 .inner-content .inner-buttons{
    display: inline-flex;
    gap: 5px 18px;
}
@media(max-width: 1199.98px){
    .section-3 .inner-wrap{
        padding-right: 20px;
    }
    .section-3 .inner-content{
        margin-top: 0;
    }
    .section-3 .inner-content .inner-title{
        font-size: 42px;
    }
    .section-3 .inner-content .inner-sub-title{
        font-size: 28px;
    }
}
@media(max-width: 991.98px){
    .section-3 .inner-wrap{
        flex-wrap: wrap;
        background-image: url("../images/section-3-bg-2.svg");
        background-position: center;
    }
    .section-3 .inner-image{
        width: 100%;
        order: 1;
    }
    .section-3 .inner-content{
        width: 100%;
       
        text-align: center;
    }
}
@media(max-width: 575.98px){
    .section-3{
        padding-bottom: 40px;
    }
    .section-3 .inner-wrap{
        padding-top: 32px;
    }
    .section-3 .inner-content .inner-title{
        font-size: 36px;
        margin-bottom: 0;
    }
    .section-3 .inner-content .inner-sub-title{
        font-size: 24px;
        margin-bottom: 12px;
    }
    .section-3 .inner-content .inner-desc{
        margin-bottom: 32px;
    
    }
    .section-3 .inner-content .inner-buttons{
        gap: 5px 13px;
    }
    .section-3 .inner-content .inner-buttons .button {
        padding: 10px 20px;
    }
    .section-3 .inner-image {
        margin-top: 23px;
      }
}
/* end section-3 */
/*  section-4 */
.section-4{
    padding: 60px 0;
}
.section-4 .inner-wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.section-4 .inner-button-bottom{
    display: none;
}
/* end section-4 */
@media(max-width:991.98px){
    .section-4 .inner-wrap{
        grid-template-columns: repeat(2,1fr);
    }

}
@media(max-width:767.98px){
    .section-4 .inner-wrap{
        grid-template-columns: repeat(1,1fr);
    }
    .section-4 .inner-button-bottom{
        display: block;
        margin-top: 16px;
        text-align: center;
    }
    
}
@media(max-width:575.98px){
    .section-4 {
        padding-bottom: 40px;
    }
    .section-4 .inner-wrap{
        gap: 12px;
    }
    .section-4 .inner-button-bottom .button{
        display: flex;
       justify-content: center;
    }
}
/* blog-item */
.blog-item{
    background-color: #ffffff;
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    padding: 8px;

}
.blog-item .inner-image{
        aspect-ratio: 360/240;
        border-radius: 10px;
        overflow: hidden;
}
.blog-item .inner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-item .inner-content{
    margin-top: 8px;
    padding: 8px;
}
.blog-item .inner-content .inner-tag{
    display: inline-block;
    background: #00A7E7;
    border-radius: 28px;
    font-size: 11px;
    color: #FDFDFD;
    padding: 3px 10px;
    margin-bottom: 10px;
}
.blog-item .inner-content .inner-title{
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.blog-item .inner-content .inner-title a{
    color: var(--color-text-dark);
}
.blog-item .inner-content .inner-desc{
    font-weight: 400;
    font-size: 14px;
    color: #242B33;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*end blog-item */

/* footer */
.footer{
    padding-top: 80px;
    padding-bottom: 40px;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 40px 40px 0 0;

}
.footer .inner-top{
    border-radius: 16px;
    background-color: var(--color-primary);
    display: flex;
    padding: 32px;
    gap: 20px;
    align-items: center;
}
.footer .inner-top .inner-title{
    margin: 0;
    width: 389px;
    font-weight: 700;
    font-size: 20px;
    color: #FDFDFD;

}
.footer .inner-top .inner-form{
    flex: 1;
    display: flex;
    border-radius: 14px;
    padding: 12px;
    gap: 12px;
    background-color: #fff;

}
.footer .inner-top .inner-form input{
    flex: 1;
    border-radius: 8px;
    padding: 0 28px;
    height: 48px;
    border: 1px solid #99A2A5;
    color: var(--color-text-dark);
    outline: none;

}
.footer .inner-top .inner-form input::placeholder{
    color: var(--color-text-light);
}
.footer .inner-top .inner-form button{
    background-color: var(--color-primary);
    height: 48px;
    border: 0;
    border-radius: 8px;
    padding: 0 28px;
    font-weight: 700;
    font-size: 16px;
    color: #fdfdfd;
}
.footer .inner-middle{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CCD1D2
}
.footer .inner-middle .inner-links ul{
    display: flex;
    list-style: none;
    gap: 5px 60px;
    margin: 0;
    padding: 0;
   
}
.footer .inner-middle .inner-links ul li a{
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text-dark);
}
.footer .inner-middle .inner-socials ul{
    display: flex;
    list-style: none;
    gap: 5px 40px;
    margin: 0;
    padding: 0;
   
}
.footer .inner-middle .inner-socials ul li a{
    font-size: 24px;
    color: var(--color-text-dark);
}
.footer .inner-bottom{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footer .inner-bottom .inner-copyright{
    width: 40%;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-light);
}
.footer .inner-bottom .inner-logo{
    width: 20%;
    text-align: center;
}
.footer .inner-bottom .inner-logo img{
    height: 40px;
    width: auto;
}
.footer .inner-bottom .inner-links{
    width: 40%;
}
.footer .inner-bottom .inner-links ul{
    display: flex;
    list-style: none;
    gap: 5px 32px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
   
}
.footer .inner-bottom .inner-links ul li a{
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-dark);
}

@media(max-width: 991.98px){
    .footer{
        padding-top: 40px;
    }
    .footer .inner-top{
        flex-wrap: wrap;
    }
    .footer .inner-middle{
        flex-wrap: wrap;
    }
    .footer .inner-top .inner-title{
        width: 100%;
    }
    .footer .inner-top .inner-form{
        width: 100%;
    }
    .footer .inner-middle .inner-links{
        width: 100%;
        margin-bottom: 20px;
       
    }
    .footer .inner-middle .inner-links ul{
        justify-content: center;
    }
    .footer .inner-middle .inner-socials{
        width: 100%;
    }
    .footer .inner-middle .inner-socials ul{
        justify-content: center;
    }
    .footer .inner-bottom{
        flex-wrap: wrap;
    }
    .footer .inner-bottom .inner-copyright{
        width: 100%;
        order: 2;
        text-align: center;
    }
    .footer .inner-bottom .inner-logo{
        width: 100%;
        margin-bottom: 32px;
    }
    .footer .inner-bottom .inner-logo img{
        margin: 0 auto;
    }
    .footer .inner-bottom .inner-links{
        width: 100%;
        order: 1;
        margin-bottom: 12px;
    }
    .footer .inner-bottom .inner-links ul{
        justify-content: center;
    }
}
@media(max-width:575.98px){
    .footer {
        border-radius: 20px 20px 0 0;
        padding-bottom: 16px;
      }
      .footer .inner-top {
        padding: 16px;
        gap: 16px;
      }
    
      .footer .inner-top .inner-form {
        flex-wrap: wrap;
      }
    
      .footer .inner-top .inner-form button {
        width: 100%;
      }
    
      .footer .inner-middle .inner-links ul {
        gap: 5px 40px;
      }
    
      .footer .inner-middle .inner-links ul li a {
        font-size: 13px;
      }
    
      .footer .inner-middle .inner-socials ul li a {
        font-size: 20px;
      }
    
      .footer .inner-bottom {
        margin-top: 36px;
      }
    
      .footer .inner-bottom .inner-links ul {
        gap: 5px 15px;
      }
    
      .footer .inner-bottom .inner-links ul li a {
        font-size: 12px;
        color: var(--color-text-light);
      }
    
      .footer .inner-bottom .inner-copyright {
        font-size: 10px;
      }
}
/*end footer */